In [1]:
import duckdb

In [2]:
connector = duckdb.connect("../db_folder/footballqa.duckdb")

In [7]:
req_query = """
    SELECT 
    player_name, 
    team_captain, 
    position
    FROM 
    game_lineups_cleaned
    WHERE 
    team_captain = 1  -- Assuming 1 means 'Yes' or 'True' for being a team captain
    AND position = 'Left-Back';  -- Exact match for position
"""

In [10]:
result = connector.execute(query=req_query).fetch_df()

In [12]:
result.head(10)

      player_name  team_captain   position
0  Nick Viergever             1  Left-Back
1     Filip Daems             1  Left-Back
2     Filip Daems             1  Left-Back
3     Filip Daems             1  Left-Back
4     Filip Daems             1  Left-Back
5     Filip Daems             1  Left-Back
6     Filip Daems             1  Left-Back
7  Marcell Jansen             1  Left-Back
8  Marcell Jansen             1  Left-Back
9    Andreas Beck             1  Left-Back

In [13]:
req_query_most_app = """
SELECT 
  player_name, 
  COUNT(*) AS TotalAppearances
FROM 
  game_lineups_cleaned
WHERE 
  team_captain = 1
  AND position = 'Left-Back'
GROUP BY 
  player_name
ORDER BY 
  TotalAppearances DESC
LIMIT 5;

"""

result_most_app = connector.execute(req_query_most_app).fetch_df()

In [14]:
result_most_app

         player_name  TotalAppearances
0      Aaron Meijers               122
1   Christian Günter                95
2          José Gayà                93
3  Cristiano Biraghi                83
4         Ziya Erdal                81